.hd_edit {
  color: #3c91e6;
}

.hd_delete {
  color: rgb(238, 50, 51);
}

#body {
  font-size: 14px;
}

#bt_edit,
#bt_delete {
  font-size: 14px;
}

.table__id_history {
  margin-top: 32px;
}

.table_time {
  margin-top: 10px;
  color: rgb(160, 160, 160);
}

.table__image:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.modal_text {
  margin-bottom: 30px;
  margin-left: -1px;
}

#staticBackdropLabel {
  color: #3c91e6;
}

.modal_lable {
  font-size: 14px;
  font-weight: 600;
}

.form-check-label {
  margin-right: 20px;
}

.form-check-label {
  font-size: 14px;
}

.bt_Add {
  background-color: #3c91e6;
  margin-top: 40px;
}

.bootstrap-datetimepicker-widget {
  z-index: 9999 !important;
}

.date-time {
  display: flex;
}


.datepicker,
.timepicker {
  font-size: 14px;
  margin-bottom: 20px;
  width: 200px;
  margin-right: 70px;
}


.modal_select {
  font-size: 14px;
  color: grey;
  height: 34px;
}
