.hd_edit {
  color: #3c91e6;
}

.hd_delete {
  color: rgb(238, 50, 51);
}

#body {
  font-size: 14px;
}



#bt_edit,
#bt_delete {
  font-size: 14px;
}

.modal_text {
  margin-bottom: 30px;
  margin-left: -1px;
}

#staticBackdropLabel {
  color: #3c91e6;
}

.modal_lable {
  font-size: 14px;
  font-weight: 600;
}

.form-check-label {
  margin-right: 20px;
}

.form-check-label {
  font-size: 14px;
}

.bt_Add {
  background-color: #3c91e6;
  margin-top: 40px;
}

.modal_select {
  font-size: 14px;
  color: black;
  height: 33px;
}
